html {
	height: 100%;
	font-size: 100%;

#wrapper {
	width:500px;
	margin:250px auto;
}

h1 {
	padding: 4em 3em 1em;
	font-size: 150%;
	line-height: 1.5;
	font-weight: 700;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	text-align: center;
}

h1 span {
	font-weight: 400;
}

h2 {
	text-align: center;
	margin-bottom: 3em;
	color: #4c7687;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}

.attribution {
	padding: 3em 0;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.attribution a {
	color: #fff;
}


/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
	text-decoration: none;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

