﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="WebApplication4.WebForm1" %>

<!-- Copyright hackerzhou.me -->
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>爱豆豆</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<style type="text/css">
	
	</style>
	<link href="css/default.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/garden.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>

</head>

<body>

	
			<div id="code">
				<span class="comments">2020年</span><br />
				<span class="space"/><span class="comments">*我要123123</span><br />
				<span class="space"/><span class="comments">* 31231231231123123</span><br />
				<span class="space"/><span class="comments">*/</span><br />
				<span class="comments">1231212呃1额2呃</span><br />
				<span class="comments">sdfgdfgfd</span><br />
				<span class="placeholder"/><span class="comments">// dsafsd</span><br />
				<span class="placeholder"/><span class="comments">// fgeqewr.</span><br />
				<span class="placeholder"/>哈哈哈哈哈<br />
				}<br />
				<span class="comments">// 榜样</span><br />
			
			</div>
			
				<canvas id="garden"></canvas>
				
	
		
	
	<script type="text/javascript">
		var offsetX = $("#loveHeart").width() / 2;
		var offsetY = $("#loveHeart").height() / 2 - 55;
		var together = new Date();
		together.setFullYear(2009, 1, 4);
		together.setHours(3);
		together.setMinutes(0);
		together.setSeconds(0);
		together.setMilliseconds(0);
		
		if (!document.createElement('canvas').getContext) {
			var msg = document.createElement("div");
			msg.id = "errorMsg";
			msg.innerHTML = "Your browser doesn't support HTML5!<br/>Recommend use Chrome 14+/IE 9+/Firefox 7+/Safari 4+"; 
			document.body.appendChild(msg);
			$("#code").css("display", "none")
			$("#copyright").css("position", "absolute");
			$("#copyright").css("bottom", "10px");
		    document.execCommand("stop");
		} else {
			setTimeout(function () {
				startHeartAnimation();
			}, 5000);

			timeElapse(together);
			setInterval(function () {
				timeElapse(together);
			}, 50);

			adjustCodePosition();
			$("#code").typewriter();
		}
	</script>
</body>
</html>
