
#code 
{

	float: left;
	width: 584px;
	height: 0px;
	color: #333;
	font-family: "Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";
	font-size: 12px
}
#code .string {
	color: #2a36ff
}
#code .keyword {
	color: #7f0055;
	font-weight: bold
}
#code .placeholder {
	margin-left: 15px
}
#code .space {
	margin-left: 7px
}
#code .comments {
	color: #3f7f5f
}
#copyright {
	margin-top: 0px;
	text-align: center;
	width: 100%;
	color: #666
}
#errorMsg {
	width: 100%;
	text-align: center;
	font-size: 24px;
	position: absolute;
	top: 10px;
	left: 0
}
#copyright a {
	color: #666
}